

<h1>The Storytellers List</h1>


<div class=writerList>
  <!-- Display a list of writers with button to view all works by that author-->
<% @writers.each do |writer| %>
  <div class="writerIndex" writerDivId="writerDiv<%= writer.id %>" id="<%= writer.id %>">
   <h4><a href='/writers/<%=writer.id%>'><%= writer.name %></a></h4></br>
   <input type="button" class="specWriterButton" value="Show all by this writer" id="specWriter<%= writer.id %>"
  </div>
 <% end %>
</div> <!--class writerList-->

<div class ="specWriterStories">
</div> <!--class specWriterStories-->


